body {
    background-color: black;
    background: url(../images/stranger-things6.jpg)
}

#container {
    padding: 75px;
    margin: 75px;
}

#QUESTIONS {
    display: none;
}

h1 {
    color: red;
    text-align: center;
}

#col-sm {
    margin: 50px;
    padding: 50px;
    text-align: center;
}

p {
    text-align: center;
    color: red;
    font-weight: bold;
}

div {
    text-align: center;
}

iframe {
    opacity: 0;
}
